BasicWebServiceApp/WebRoot/WEB-INF/wsdl/StudentService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://model.vcs.com/" targetNamespace="http://model.vcs.com/" version="1.0">

  <xs:element name="getMsg" type="tns:getMsg"/>

  <xs:element name="getMsgResponse" type="tns:getMsgResponse"/>

  <xs:complexType name="getMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMsgResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
